<!DOCTYPE html>
<html>
<head>
  <title>Chris Inch</title>
  <style>
  body {
    background-color: #555;
    color: #eee;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: large;
  }
  a:link, a:visited {
    color: #E6FB04;
  }
  a:hover, a:active {
    color: #fff;
  }
  h1 { 
    font-weight: 900;
    font-size: 10em;
  }
  </style>
</head>
<body>
<h1>Chris Inch</h1>
<ul>
   <li><a href="https://www.linkedin.com/in/chrisinch/">LinkedIn</a></li>
   <li><a href="https://twitter.com/chrisinchcom/">Twitter</a></li>
</ul>
</body>
</html>
